#loginContainer {
    height: 100vh;
    align-content: center;
}







#signUpForm {
    color: red;

    


}

#signInFormTitle {
    font-size: 35px;
}


#signInForm {

    border-style: solid;
    border-width: 5px;
    border-color: royalblue;
    border-radius: 15%;

    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}
